/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  
  background-color:var(--main-background-color);
  background-image: var(--cover-image);
  background-repeat: no-repeat;
  background-size: auto 100vh;
  background-position: top;
  background-attachment: fixed;
}
.header__decor{

  display: flex;
  align-items: center;
  justify-content: end;
  
}
.header__decor::before{
  content: "REC";
  color: var(--header__decor-color);
  color: #FF0070;
  text-align: center;
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 138.889% */
  padding-right: 4px;
}
.header__decor::after{
  content:"";
  width:25px;
  height: 25px;
  border-top: 1px solid #FF0070;
  border-right: 1px solid #FF0070;
  fill: #FF0070;
  filter: drop-shadow(0px 0px 4px #FF0070);
  background-image: url(../images/point.svg);
  background-position: center;
}
.header__theme-menu{
  padding-block-start: 40px;
  padding-block-end:72px ;

}

.header__theme-menu-button{
  box-sizing: border-box;
  border:none;
  background-color: transparent;
  color: #FF0070;
  text-align: center;
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 100% */
  text-transform: lowercase;
  padding-right: 15px;
}
.header__theme-menu-list{
  display: flex;
  flex-direction: column;
  gap:16px;
}
.header {
  
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(5, auto);
  margin-block-end: 30px;
  padding: 10px;
}
.header__title {
  color: var(--header__title-color);
  text-shadow: 4px 4px 0px var(--accent-color);
  font-family: IBM Plex Mono;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%; /* 95.7px */
  padding-block-end: 55px;
}
.header__subtitle {
  color: var(--header__subtitle-color);
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
  width: 355px;
  display: flex;
  flex-direction: column;
  margin-block-end: 30px;
}
.header__theme-menu-item{
  display: grid;
  justify-content: end;
 
}
.visually-hidden {
  position: absolute; /* элемент вырывают из потока */
  width: 1px; /* делают элемент очень маленьким, но таким, чтобы не пропал совсем */
  height: 1px;
  margin: -1px; /* элемент убирают из поля зрения, сдвинув на размер самого себя */
  padding: 0; /* обнуляют отступы, они есть у некоторых элементов по умолчанию */
  border: 0; /* убирают границу, она тоже может быть у каких-то элементов */
  clip: rect(0 0 0 0); /* это свойство обрезает видимую область до нулевого значения */
  overflow: hidden; /* на всякий случай скрывают видимое за пределами блока */
}
.content{
  padding: 10px;
}
.content__section {

  padding-block-end: 50px;
}

.content__section-title{
  color: var(--content__section-title-color);
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
  
}
.content__section-subtitle{
  color: var(--content__section-subtitle-color);
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
  margin-block-start: 20px;
  margin-block-end: 10px;
}
.content__section-text{
  color: var(--content__section-text-color);
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px; /* 130% */ 
  
}
.content__section-subtitle-images{
  color: var(--content__section-subtitle-color);
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
  margin-block-end:10px ;
 }
.images{
  width: 100%;
}
.content__section-images{
  padding-block-end: 30px;
  
  
}
.content__section-img{
  display: flex;
  flex-direction: column;
  gap:10px;
}
.footer{
  min-height: 667px;
  padding: 10px;
  flex-shrink: 0;
}
.footer__title{
  margin-block-start: 268px;
  color: #DB00FF;
  text-shadow: 2px 2px 0px #FF0070;
  font-family: IBM Plex Mono;
  font-size: 116px;
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%; /* 95.7px */
 
  }
 .title-decor{
  background-color: var(--title-decor);
 }
 .decor-bottom{
  width: 25px;
  height: 25px;
  border-bottom: 1px solid #FF0070;
  border-left: 1px solid #FF0070;
 }
 
 @media (width >= 768px){
  .header{
    padding: 20px;
    
  }
  .header__theme-menu{
    padding-block-start: 147.5px;
    padding-block-end: 180px;
  }
  .header__title{
    position: relative;
    left:-20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem) ;
    padding-block-end: 162px;
  }
  .header__subtitle{
    justify-self: end;
    width: 364px;
    margin-block-end: 138px;
  }
  .content{
    padding-left: 20px;
    padding-right: 20px;
  }
  .content__section{
    padding-block-end: 60px;
  }
  .shift-right{
    display: grid;
    grid-template-columns:  30% 64.8%;
    gap: 38px;

  }
  .content__section-title{
    width: clamp(12rem, 9.2887rem + 11.5681vw, 19.7rem);
    margin-block-start: 20px;
  };
  .content__section-subtitle{
    

  };
  .content__section-text{
 
  }
.content__section-images{
  padding-block-start: 20px;
}
.content__section-img{
    padding-block-start:10px;
    display: grid;
    grid-template-columns:repeat(3, minmax(230px, 1fr));
    grid-template-rows: repeat(3, auto);
    gap: 20px;
}
.images__sunset{
  grid-column-start: 1;
  grid-column-end: span 2;
  grid-row-start: 1;
  grid-row-end: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.images__ice-cream{
 
  grid-column-start: 3;
  grid-column-end:  3;
  grid-row-start: 1;
  grid-row-end: span 2;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.images__tape{
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: span 2;
  height:100%;
  width: 100%;
  object-fit: cover;
}
.images__books{
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
  width: 100%;
  height: 100%;
  object-fit: cover;

}
.images__street{
  grid-column-start: 2;
  grid-column-end: span 2;
  grid-row-start: 3;
  grid-row-end: 3;
  width: 100%;
  height: 100%;
  object-fit: cover;

}
.footer{
  padding: 20px;
}
 }
